<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <!-- "application-name" is a variable -->
        <File>logs/search.log</File>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>
    
    <logger name="org.springframework" level="trace" additivity="true">
        <appender-ref ref="FILE" />
    </logger>
      
    <root level="trace">
        <appender-ref ref="FILE" />
    </root>        
                
</configuration>

